<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Opret mentor</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<div class="login-page">
    <div class="form">
<h1>Opret mentor</h1>

<form method="Post" th:action="@{/createMentor}" class="login-form">
    <label>Email:</label>
    <input type="text" th:field="${Mentor.email}" required="true" /></br></br>
    <label>Adgangskode:</label>
    <input type="password" th:field="${Mentor.password}" required="true" /></br></br>
    <label>Telefon:</label>
    <input type="text" th:field="${Mentor.phoneNr}" required="true" /></br></br>
    <label>Fornavn:</label>
    <input type="text" th:field="${Mentor.firstName}" required="true" /></br></br>
    <label>Efternavn:</label>
    <input type="text" th:field="${Mentor.lastName}" required="true" /></br></br>
    <label>By:</label>
    <input type="text" th:field="${Mentor.city}" required="true" /></br></br>
    <label>Fag:</label>
    <input type="text" th:field="${Mentor.subject}" required="true" /></br></br>
    <label>Erfaring:</label>
    <input type="text" th:field="${Mentor.experience}" required="true" /></br></br>
    <label>Uddannelse:</label>
    <input type="text" th:field="${Mentor.education}" required="true" /></br></br>
    <input style="background: #b2b2b2" type="submit" value="Send" />


</form>

</body>
</html>