<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>
</head>
<body>
<h1>Opret studerende</h1>

<form method="Post" th:action="@{/createStudent}">
    <label>Email:</label>
    <input type="text" th:field="${Student.email}" required="true" /></br></br>
    <label>Adgangskode:</label>
    <input type="password" th:field="${Student.password}" required="true" /></br></br>
    <label>Telefon:</label>
    <input type="text" th:field="${Student.phoneNr}" required="true" /></br></br>
    <label>Fornavn:</label>
    <input type="text" th:field="${Student.firstName}" required="true" /></br></br>
    <label>Efternavn:</label>
    <input type="text" th:field="${Student.lastName}" required="true" /></br></br>
    <label>By:</label>
    <input type="text" th:field="${Student.city}" required="true" /></br></br>
    <label>Erfaring:</label>
    <input type="text" th:field="${Student.education}" required="true" /></br></br>
    <input type="submit" value="Send" />

</form>

</body>
</html>