<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>
</head>
<body>
<h1>Rediger studerende</h1>

<form method="Post" th:action="@{/editStudent}">
    <label>Email:</label>
    <input type="text" th:field="${student.email}" required="true" /></br></br>
    <label>Adgangskode:</label>
    <input type="password" th:field="${student.password}" required="false" /></br></br>
    <label>Telefon:</label>
    <input type="text" th:field="${student.phoneNr}" required="true" /></br></br>
    <label>Fornavn:</label>
    <input type="text" th:field="${student.firstName}" required="true" /></br></br>
    <label>Efternavn:</label>
    <input type="text" th:field="${student.lastName}" required="true" /></br></br>
    <label>By:</label>
    <input type="text" th:field="${student.city}" required="true" /></br></br>
    <label>Erfaring:</label>
    <input type="text" th:field="${student.education}" required="true" /></br></br>
    <input type="submit" value="Send" />

</form>

</body>
</html>