<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Rediger oplysninger</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<div class="login-page">
    <div class="form">


        <img src="logo.PNG" style="width:200px;height:100px;"/>

<form method="Post" th:action="@{/editStudent}" class="login-form">
    <h1>Rediger studerende</h1>
    <label>Email:</label>
    <input type="text" th:field="${Student.email}" required="true" /></br></br>
    <label>Adgangskode:</label>
    <input type="password" th:field="${Student.password}" required="false" /></br></br>
    <label>Telefon:</label>
    <input type="text" th:field="${Student.phoneNr}" required="true" /></br></br>
    <label>Fornavn:</label>
    <input type="text" th:field="${Student.firstName}" required="true" /></br></br>
    <label>Efternavn:</label>
    <input type="text" th:field="${Student.lastName}" required="true" /></br></br>
    <label>By:</label>
    <input type="text" th:field="${Student.city}" required="true" /></br></br>
    <label>Uddannelse:</label>
    <input type="text" th:field="${Student.education}" required="true" /></br></br>
    <input style="background: #b2b2b2" type="submit" value="Send" />

</form>
    </div>
</div>
</body>
</html>