
<head>

    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>

</head>
<body class="align" xmlns:th="http://www.thymeleaf.org">

<div class="grid">

<div class="login-page">
    <div class="form">
    <form method="Post" th:action="@{/login}" class="login-form">

        <img src="logo.PNG" style="width:200px;height:100px;"/>
        <input name="email" type="text" placeholder="email" required="true" /></br></br>

        <input name="password" type="password" placeholder="password" required="true" /></br></br>
        <input style="background: #b2b2b2" type="submit" value="Send" />


    <p class="text--center">Ikke medlem?<a href="createStudent">Tilmeld dig her</a> <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use></svg></p>
        </form>
    </div>
</div>
</div>


</body>