<!-- taget fra www.w3.org-->
<body class="align" xmlns:th="http://www.thymeleaf.org">

<div class="grid">
    <link rel="stylesheet" type="text/css" href="stylesheetCss.css"/>

    <form method="Post" th:action="@{/login}">
        <label>Email:</label>
        <input name="email" type="text" placeholder="email" required="true" /></br></br>
        <label>Adgangskode:</label>
        <input name="password" type="password" placeholder="password" required="true" /></br></br>
        <input type="submit" value="Send" />
    </form>

    <p class="text--center">Ikke medlem?<a href="createStudent">Tilmeld dig her</a> <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use></svg></p>

</div>


</body>