
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<header>
    <img src="logo dark blue.PNG" style="width:300px;height:150px;float:right"/>
    <h2>Menu</h2>
    </br>

    <ul class="menu">
        <a th:href="studentList"><button class="button2">Se mentore</button></a><br/><br/>

        <a th:href="editStudent"><button class="button2">Rediger oplysninger</button></a><br/><br/>
        <a th:href="logOut"><button class="button2">Log ud</button></a>

    </ul>
</header>
</body>
</html>
