
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<header>
    <img src="logo dark blue.PNG" style="width:300px;height:150px;float:right"/>
    <h2>Menu</h2>
    </br>
    <!--<p th:text="${}"/>-->
    <ul class="menu">
        <li><a href="studentList">Se mentorer</a></li>
        <a th:href="editStudent">
            <button class="btn-ed btn">Edit</button>
        </a>
        <li><a href="logOut">Log ud</a></li>
    </ul>
</header>
</body>
</html>
