
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Liste af mentorer</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>
</head>
<body>

<img src="logo dark blue.PNG" style="width:300px;height:150px;float:right"/>
    <h2>Mentor</h2>



    <!--<a class="btn" href="create">Link</a>-->

    </br>
    </br>


    <table width="100%", id="list">
        <tr>

            <th width="4%"> Navn</th>
            <th width="2%"> Telefon</th>
            <th width="3%"> Medlemstype</th>
            <th width="5%"> Email</th>
            <th width="5%"> By</th>
            <th width="5%"> Uddannelse</th>
            <th width="5%"> Erfaring</th>
            <th width="5%"> Fag</th>


        </tr>
        <tr th:each="mList: ${mList}">

            <td th:text="${mList.firstName + ' ' + mList.lastName}"/>
            <td th:text="${mList.phoneNr}"/>
            <td th:text="${mList.type}"/>
            <td th:text="${mList.email}"/>
            <td th:text="${mList.city}"/>
            <td th:text="${mList.education}"/>
            <td th:text="${mList.experience}"/>
            <td th:text="${mList.subject}"/>


        </tr>

    </table>

    </ul>

</body>
</html>