
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Liste over brugere</title>
    <link rel="stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<header>
    <img src="logo dark blue.PNG" style="width:300px;height:150px;float:right"/>
    <h2>Medlemmer</h2>


    </br>
    </br>
    <a href="createMentor">
        <button class="button2">Opret mentor</button>

    </a>

    <table width="100%" border="0", id="list">
        <tr>

            <th width="4%">Navn</th>
            <th width="2%">Telefon</th>
            <th width="3%">Medlemstype</th>
            <th width="5%">Email</th>

            <th width="1%"></th>
            <th width="1%"></th>
        </tr>
        <tr th:each="uList: ${uList}">

            <td th:text="${uList.firstName + ' ' + uList.lastName}"/>
            <td th:text="${uList.phoneNr}"/>
            <td th:text="${uList.type}"/>
            <td th:text="${uList.email}"/>
            <td><a th:href="@{'/editUser?email='+${uList.email}}">
                <button class="button1">Edit</button>

            </a>
            <td><a th:href="@{'/deleteUser?email='+${uList.email}}">
                <button onclick="return confirm('Er du sikker?')" class="button1">Slet</button>

            </a>

            </td>

        </tr>

    </table>

    </ul>
</header>
</body>
</html>